KeyMaps(
  normal: {
    KeyEvent(
      code: Up,
      modifiers: "CONTROL",
      kind: Press,
      state: "",
    ): ToggleEdit,
    KeyEvent(
      code: Char('s'),
      modifiers: "SHIFT | CONTROL",
      kind: Press,
      state: "",
    ): Save,
  },
)